<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>ShoppingCart</display-name>
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>com.mindteck.servlets.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/action.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.mindteck.servlets.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<ejb-ref>
		<ejb-ref-name>CustomerBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.mindteck.ejb.CustomerHome</home>
		<remote>com.mindteck.ejb.CustomerObject</remote>
		<ejb-link>ShoppingCartEJB.jar#CustomerBean</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>SupplierBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.mindteck.ejb.SupplierHome</home>
		<remote>com.mindteck.ejb.SupplierObject</remote>
		<ejb-link>ShoppingCartEJB.jar#SupplierBean</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ProductBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.mindteck.ejb.ProductHome</home>
		<remote>com.mindteck.ejb.ProductObject</remote>
		<ejb-link>ShoppingCartEJB.jar#ProductBean</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>CartBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.mindteck.ejb.CartHome</home>
		<remote>com.mindteck.ejb.CartObject</remote>
		<ejb-link>ShoppingCartEJB.jar#CartBean</ejb-link>
	</ejb-ref>
	<ejb-ref>
		<ejb-ref-name>ManyToManyBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.mindteck.ejb.ManyToManyHome</home>
		<remote>com.mindteck.ejb.ManyToManyObject</remote>
		<ejb-link>ShoppingCartEJB.jar#ManyToManyBean</ejb-link>
	</ejb-ref>
</web-app>
